/* Les Polices*/
@font-face {
    font-family: 'robotoregular';
    src: url('ress/font/Roboto-Regular-webfont.eot');
    src: url('ress/font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('ress/font/Roboto-Regular-webfont.woff2') format('woff2'),
        url('ress/font/Roboto-Regular-webfont.woff') format('woff'),
        url('ress/font/Roboto-Regular-webfont.ttf') format('truetype'),
        url('ress/font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Body */

body {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    font-family: robotoregular;
    color: white;
    background-color: black;
    border: 2px solid white;
}

/* Header */


nav {
    display: flex;
    position: fixed;
    align-items: center;
    height: 60px;
    background-color: black;
    top: 0;
    width: 100%;
    max-width: 900px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    /* border: 5px solid greenyellow; */
}

#nav_logo {

    width: 40px;
}

.nav_item {
    color: white;
    margin: 0 25px 0 25px;
    text-decoration: none;

}

section {
    /* border: 5px solid cyan; */

}



/* Section Home */

#home {
    display: flex;
    flex-direction: column;
    background-image: url("");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat ;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    
}

.backgroundColor {
    background-color:linear-gradient(to bottom, red, rgba(0,0,0,1) );
    z-index: 3;
}

section h1 {
    padding: 250px 0 0 25px;
    color: white;
}

#resume {
    padding-left: 25px;
    width: 400px;
    text-align: justify;
    color: white;
}

.button_home {
    margin-left: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1em;
    width: 100px;
    height: 40px;
}


/* Section Container  */

#container {

    display: flex;
    flex-direction: column;
    margin-top: 25px;
    /* border: 5px solid blue; */
}


section h3 {
    display: flex;
    padding: 0 0 0 25px;
    color: white;
}


/* Caroussel */

.element_caroussel {
    display: flex;
    align-items: center;
    /* border: 5px solid lightcoral; */

}

#element_caroussel_01, #element_caroussel_02,
#element_caroussel_03, #element_caroussel_04 {
    display: flex;
    align-items: center;
}

#caroussel_01, #caroussel_02,
#caroussel_03, #caroussel_04  {
    
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    
}

.cover img {
    height: 250px;
    width: auto;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.25);
    margin: 20px 10px 10px 10px;
    
}

.cover {
    padding: auto;
    border: none;
    padding: 0;
    background: none;
    
    
}

.scroll_left, .scroll_right {

    display: flex;
    color: white;
    font-size: 1.75em;
    background-color: black;
    padding-right: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 0;
    border-left: 10px solid transparent;
}

#modalClass {

    color: black;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position:fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    color: black;
    background-color: #fefefe;
    
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Test pour l'image du modal*/
#modalImgUrl {
    background-image: url("");
}

/* The Close Button */
.close {
    color: gainsboro;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalStoryLine {
    width: 75%;
}


/* Responsive parameters */
@media screen and (max-width: 900px) {
    
    body {
        margin-left: auto;
        margin-right: auto;
        color: white;
        background-color: black;
        
    }
    #home {
        display: flex;
        max-height: 250px;
        flex-direction: column;
        background-image: url("");
        background-position: center;
    
    }

    section h1 {
        padding-block-start: 25px;
        color: white;
    }
    
    .resume {
        
        width: 250px;
        text-align: left;
        color: rgb(134, 32, 32);
    }
    
    .button_home {
        
        text-align: center;
        font-size: 0.8em;
        width: 80px;
        height: 30px;
    }
 
}

